certifi==2026.7.22
charset-normalizer==3.5.1
cloth_simulation_filter==1.1.7
contourpy==1.3.3
cycler==0.12.1
flexcache==0.3
flexparser==0.4
fonttools==4.63.0
geopandas==1.1.4
idna==3.19
KDEpy==1.1.12
kiwisolver==1.5.0
laspy==2.7.0
matplotlib==3.11.1
MetPy==1.7.1
numpy==2.5.2
packaging==26.3
pandas==3.0.5
pillow==12.3.0
Pint==0.25.3
platformdirs==4.11.4
pooch==1.9.0
pyogrio==0.13.0
pyparsing==3.3.2
pyproj==3.7.2
pyroj==1.3.1
python-dateutil==2.9.0.post0
requests==2.34.2
scipy==1.18.1
setuptools==83.0.0
shapely==2.1.2
six==1.17.0
traitlets==5.16.1
typing_extensions==4.16.0
urllib3==2.7.0
wheel==0.47.0
xarray==2026.7.0
